@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700');

body { 
	background: linear-gradient(to bottom, #160701, #603d29);
	background-size: cover;
	height: 100%;
}

.container {
	background: url("images/giraffe.jpg") fixed;
	background-size: cover;
	border-radius: 10px;
	font-family: 'Josefin Sans', sans-serif;
	color: #603d29;
	box-shadow: 1px 0px 15px rgba(35, 23, 16, 0.8),
				-1px 0px 15px rgba(35, 23, 16, 0.8);
}

.hideme1
{
    opacity:0;
}

.hideme2
{
    opacity:0;
}

.hideme3
{
    opacity:0;
}

.hideme4
{
    opacity:0;
}


.navbar-inverse {
	background: linear-gradient(to bottom, #160701, #603d29);
	font-size: 22px;
	border: 2px solid rgba(109, 70, 70, 0.4);
}

.jumbotron {
	background: transparent;
	color: #bcd0db;
	padding-right: 16%;
	padding-top: 12%;
	text-shadow: 1px 0px 1px #593a27,
				2px 0px 2px #593a27, 
				0px -1px 1px #efe3dc,
				0px 2px 3px #efe3dc,
				0px 2px 13px #efe3dc,
				0px 0px 20px #efe3dc,
				0px 0px 23px rgb(208, 175, 155);
}

.jumbotron p {
	font-weight: 700;
	margin: 0;
	color: #bcd0db;
}

.lightcolumn {
	background: linear-gradient(to bottom, turquoise, transparent, #160701);
	padding: 10px 10px 42px 10px;
	margin: none;
	}
	
	.lightcolumn ul {
		list-style-type: none;
		}
	
	.lightcolumn a {
		color: #00046B;
		font-size: 16px;
		text-shadow: none;
		margin: none;
		font-family: 'Josefin Sans', sans-serif;
		}
		
a:hover {
	color: #e8eef1;
	text-shadow: 0px 1px 1px #2B3856;
	text-decoration: none;
	}
	
.imagefit {
	width: 96%;
	background-color: rgba(67, 198, 219, 0.4);
	border: 2px solid rgba(62, 40, 40, 0.5);
	border-radius: 10px;
	display: block;
	padding: 8px;
	margin: 0px auto 25px auto;
	text-align: center;
}

.thumbimg {
	width: 90%;
	margin-bottom: 10px;
	text-align: center;
	display: inline-block;
}


#footer {
	background: linear-gradient( to bottom, #160701, black);
	display: table;
	width: 100%;
	text-shadow: 1px 0px 6px rgba(208, 183, 155, 1);
	padding: 10px 0px 5px 0px;
	text-align: center;
}

#content {
	border-radius: 4px;
	margin-top: 13%;
	text-shadow: 1px 1px 2px black,
				1px 0px 3px black;
	text-align: justify;
	background: rgba(39, 25, 25, 0.8);
}

.content-padding {
	padding-top: 15px;
}

p { 
	font-size: 16px;
	color: rgba(208, 183, 155, 1);
}

.p-margin {
	margin-left: 30px;
	margin-right: 20px;
}

#content ul li {
	font-size: 16px;
	text-align: left;
	color: rgba(208, 183, 155, 1);
	margin: 10px 20px;
}

#content ol li {
	font-size: 16px;
	text-align: left;
	color: rgba(208, 183, 155, 1);
	margin: 10px 20px;
}

#main-info {
	padding: 20px;
}

h2 {
	font-size: 1.5em;
	color: rgba(208, 183, 155, 1);
	margin-left: 30px;
	margin-right: 20px;
}

.center-it {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 600px;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 600px;
  text-align: center;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  text-align: center;
  }

.rslides img {
  display: block;
  height: 350px;
  text-align: center;
  width: 600px;
  background-size: cover;
  border-radius: 4px;
  border-top: 2px solid #c6a886;
  border-bottom: 2px solid #c6a886;
  }
  
#thumbnail {
	width: 96%;
	background-color: transparent;
	border-radius: 10px;
	padding: 8px;
	text-align: center;
	display: inline-block;
}

#thumbnail p {
	text-align: center;
}

button {
	margin: 10px;
	width: 120px;
	height: 30px;
	font-size: 1.2em;
	border-radius: 5px;
	border: 1px solid rgb(182, 143, 99);
	border-left: 1px solid rgb(223, 205, 185);
	border-bottom: 1px solid rgb(223, 205, 185);
	background: linear-gradient( to bottom, #160701, #291307);
	text-shadow: 0px 1px 1px #160701;
	box-shadow: 1px 2px 10px rgba(22, 7, 1, 0.5);
	color: rgba(208, 183, 155, 1);
	
}

button:hover {
	background: linear-gradient( to bottom, #291307, #160701);
	box-shadow: 0px 1px 4px rgba(22, 7, 1, 0.9);
	color: #c6a886;
	text-shadow: 0px 1px 1px #160701;
}


.js .toggle-box .content { 
	display:none; 
	}
	
.toggle-box { 
	border: 1px solid turquoise; 
	margin-top: 20px; 
	margin-bottom: 20px;
	}
	
.toggle {
	cursor:pointer; 
	}
	
.header { margin:0; padding:5px; text-align: center; background: linear-gradient(to right, #c6a886, #bcd0db, #c6a886); }
.header a { color: #291307; text-shadow: 0px 1px 1px #e9f0f4;}
.togglecontent {
	padding:20px 
	}


@media only screen and (max-width: 768px) {
    .imagefit {
        width: 300px;
    }
}